## Observations and Insights

In [121]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
mouse_df = pd.DataFrame(mouse_metadata)
mouse_df.head()
study_results = pd.read_csv(study_results_path)
results_df =pd.DataFrame(study_results)
results_df.head()

#Combine the data into a single dataset
merged_df = pd.merge(left=mouse_df, right=results_df)
merged_df.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [122]:
# Checking the number of mice in the DataFrame.
mouse_count = merged_df['Mouse ID'].count()  
mouse_count #1893

1893

In [142]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
mouse_time_df = merged_df.loc[:, ['Mouse ID', 'Timepoint']]
boolean = mouse_time_df['Mouse ID'].duplicated().any() # True
mouse_id_duplicates = mouse_time_df[mouse_time_df.duplicated('Mouse ID')]
mouse_id_duplicates.head(25)

   Mouse ID  Timepoint
1      k403          5
2      k403         10
3      k403         15
4      k403         20
5      k403         25
6      k403         30
7      k403         35
8      k403         40
9      k403         45
11     s185          5
12     s185         10
13     s185         15
14     s185         20
15     s185         25
16     s185         30
17     s185         35
18     s185         40
19     s185         45
21     x401          5
22     x401         10
23     x401         15
24     x401         20
25     x401         25
26     x401         30
27     x401         35

In [148]:
# Optional: Get all the data for the duplicate mouse ID. 
id_duplicates_df = merged_df[merged_df.duplicated('Mouse ID')]
id_duplicates_df

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
5,k403,Ramicane,Male,21,16,25,33.464577,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [75]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
cleaned_df = pd.DataFrame(dropped_mouse)
cleaned_df

     Mouse ID  Timepoint
0        k403        NaN
1        s185        NaN
2        x401        NaN
3        m601        NaN
4        g791        NaN
...       ...        ...
1888     r944       45.0
1889     u364       45.0
1890     p438       45.0
1891     x773       45.0
1892     b879       45.0

[2137 rows x 2 columns]

In [81]:
# Checking the number of mice in the clean DataFrame.
cleaned_mouse_count = cleaned_df['Mouse ID']
cleaned_mouse_count

0       k403
1       s185
2       x401
3       m601
4       g791
        ...
1888    r944
1889    u364
1890    p438
1891    x773
1892    b879
Name: Mouse ID, Length: 2137, dtype: object

## Summary Statistics

In [7]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# This method is the most straighforward, creating multiple series and putting them all together at the end.

In [8]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

## Bar Plots

In [9]:
# Generate a bar plot showing the number of mice per time point for each treatment throughout the course of the study using pandas.

In [10]:
# Generate a bar plot showing the number of mice per time point for each treatment throughout the course of the study using pyplot.

## Pie Plots

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [12]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the most promising treatment regimens. Calculate the IQR and quantitatively determine if there are any potential outliers.

In [14]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [15]:
# Generate a line plot of time point versus tumor volume for a mouse treated with Capomulin

In [16]:
# Generate a scatter plot of mouse weight versus average tumor volume for the Capomulin regimen

## Correlation and Regression

In [17]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen